<!doctype html>
<html>
<head><title>Query</title></head>
    
<body>
<form id="query" method="post" action="/query/access">
<input name="password" type="password">
</form>
    <button form="query" type="submit" value="submit">Go!</button>
</body>    
</html>